@model WordViewModel

<h2>Введите слово</h2>
<form asp-area="User" asp-controller="Home" asp-action="AddLearnedWord">
	<input asp-for="Word"/>
	<button type="submit">Добавить</button>
</form>
<a asp-area="User" asp-controller="Home" asp-action="Index">Перестать добавлять слова</a>