<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <a asp-area="User" asp-controller="Home" asp-action="Index">Главная</a>
        @if (HomeController.currentUser.UserName == string.Empty)
        {
            <a asp-area="User" asp-controller="Home" asp-action="Authorization">Войти в профиль</a>
        }
        else
        {
            <a asp-area="User" asp-controller="Home" asp-action="LogoutUser">Выйти из профиля</a>
        }
        <a asp-area="User" asp-controller="Home" asp-action="AddLearnedWord">Добавить слово</a>
        <a asp-area="User" asp-controller="Home" asp-action="GenerateTexts">Сгенерировать тексты из изученных слов</a>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
